meta(property='og:title', content='File wine')
meta(property='og:type', content='File uploader')
meta(property='og:url', content='http://file.wine')
// meta(property='og:image', content='http://my.site.com/images/thumb.png')
meta(property='og:description', content='The best free file uploader')
meta(property='og:site_name', content='file.wine')